<form action="/answer" class="form-container">
  <p>Ask your coach anything:</p>
  <div class="form">
    <input type="text" name="question" placeholder="Ask anything!" id="input-box">
    <input type="submit" value="Ask!" id="submit">
  </div>
</form>